@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f9ff;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
      z-index: 10;
      display: flex;
      justify-content: space-between;
         align-items: center;
             padding: 10px 30px;
            background-color: rgba(22, 115, 255, 0.973);
            backdrop-filter: blur(6px);
}
header .logo img{
width: 190px;
}
header nav ul{
  list-style: none;
  display: flex;
  gap: 20px;
}


header nav a{
 text-decoration: none;
 color:aliceblue;
 font-weight: 600;
 padding: 8px 12px ;
 border-radius: 5px;
 transition: background-color 0.3s ease;
}

header nav a:hover{
  background-color:#7169f8;
}