/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
      z-index: 10;
      display: flex;
      justify-content: space-between;
         align-items: center;
             padding: 10px 30px;
            background-color: rgba(22, 115, 255, 0.973);
            backdrop-filter: blur(6px);
}
header .logo img{
width: 190px;
}